<% include ./partials/header.ejs %>
    <audio hidden id="myAudio" controls>
        <source src="/media/COMCell_Message sent (ID 1313)_BSB.wav">
    </audio>
    <audio hidden id="RecievedmyAudio" controls>
        <source src="/media/sly-user-interface-sound.mp3">
    </audio>

    <div class="messageContainer min-h-[100vh] w-full bg-zinc-800 relative">
        <div class="userInfo h-[12vh] w-full bg-zinc-900  px-2 flex items-center justify-between ">
            <div class="info flex gap-4 items-center">
                <a href="/message" class="text-white text-3xl"><i class="ri-arrow-left-line "></i></a>
                <img class="h-[3rem] w-[3rem] rounded-full" src="/images/uploads/<%=oppositeUser.profileImage%>">
                <h1 class="text-white text-xl font-semibold">
                    <%=oppositeUser.username%>
                </h1>
            </div>
            <div class="dots flex flex-col gap-1 mr-4">
                <div class="dots p-0.5 bg-white rounded-full"></div>
                <div class="dots p-0.5 bg-white rounded-full"></div>
                <div class="dots p-0.5 bg-white rounded-full"></div>
            </div>
        </div>
        <div class="messages w-[100%] min-h-full relative">

        </div>
        <div class="bottom absolute bottom-0 left-0 h-[8vh] w-full flex items-center justify-center">
            <textarea type="text" spellcheck="false" name="message" id="messageInput" placeholder="Enter your message"
                class="text-white bg-zinc-900 border-1 px-4  rounded-full w-[80%]"></textarea>
            <div onclick="OutgoingMessage()" class="sendBtn px-2 py-1 ml-1 rounded-full bg-blue-600">
                <i class="ri-send-plane-2-fill text-white text-2xl"></i>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
        integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let user = '<%=loggedUser.username%>';
        let oppositeUser = '<%=oppositeUser.username%>';
        var socket = io();
        
        var sentAudio = document.getElementById("myAudio");
        var RecAudio = document.getElementById("RecievedmyAudio");

        // axios request for the old messsage 
        // const response = axios.post('/getMessages',{

        // })



        const play_sent_Audio = () => {
            sentAudio.play();
        }
        const play_Rec_Audio = () => {
            RecAudio.play();
        }

        let html = "";
        const OutgoingMessage = () => {
            let message = document.querySelector('#messageInput').value;
            if (message.length === 0) return;
            html += ` <div class="outGoingMessage transition all ease ml-auto bg-blue-600 text-white text-sm px-4 py-2 rounded-xl w-fit mt-2">
                <h4>${message}</h4>
            </div>`
            play_sent_Audio();
            document.querySelector('#messageInput').value = "";
            document.querySelector(".messages").innerHTML = html;
            // socket.emit('sent-private-message',{oppositeUser,user})
            // send a message to the opposite user 
            socket.emit('sent-private-message', { message, sender: user, reciever: oppositeUser })



        }

        const incommingMessage = (data) => {

            html += `<div
                class="incommingMessage mr-auto bg-zinc-900 text-white text-sm px-4 py-2 rounded-xl w-fit mt-2 mb-auto">
                <h4>${data}</h4>
            </div>
          `


            document.querySelector('.messages').innerHTML = html
        }

        // sending and recieving the private messages 
        socket.on('recieve-private-message', data => {
            if (data.sender == oppositeUser) {
                OutgoingMessage()
            }
            if (data.reciever == user) incommingMessage(data.message)
        });

        // loading old chats using axios request
       






    </script>
    <% include ./partials/footer.ejs %>