<% include ./partials/header.ejs %>
    <div class="container h-[100vh] w-full bg-zinc-900 flex flex-col items-center relative">
        <div class="w-full min-h-[10vh] bg-zinc-900 px-4 py-5">
            <div class="border-2 border-zinc-800 flex items-center justify-between px-2 py-1 rounded-md">
                <i class="text-white ri-search-line"></i>
                <input class="searchInp ml-1 w-full bg-zinc-900 outline-none text-zinc-400" type="text" placeholder="search username">
            </div>
            <div class="users">
              
            </div>
          </div>
        <div class="messages min-h-[10vh] w-full bg-red-900">
            
        </div>
    </div>
<% include ./partials/footer.ejs %>